<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adilhanney.saber">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Needed for saving photos -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Needed for reading files opened with the app -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Install update APKs -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- Show ads -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

   <application
        android:label="Saber"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:appCategory="productivity"
        android:hasFragileUserData="true"
        android:localeConfig="@xml/locales_config"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:launchMode="singleTask"
        tools:targetApi="donut"
        tools:replace="android:label,android:allowBackup">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Support opening sbn (json) and sbn2 (binary) files -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/sbn" />
                <data android:mimeType="application/json" />
                <data android:mimeType="application/sbn2" />
                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\.sbn2?"/>

                <data android:mimeType="application/json" />
                <data android:mimeType="application/sbn" />
                <data android:mimeType="application/sbn2" />
                <data android:mimeType="text/*" />
            </intent-filter>

            <!-- Support opening pdf files -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.pdf"/>

                <data android:mimeType="application/pdf" />
            </intent-filter>

            <!-- Deep linking -->
            <meta-data android:name="flutter_deeplinking_enabled" android:value="true" />
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="saber.adil.hanney.org" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>

       <!-- https://developer.android.com/guide/topics/resources/app-languages#android12-impl -->
       <service
           android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
           android:enabled="false"
           android:exported="false">
           <meta-data
               android:name="autoStoreLocales"
               android:value="true" />
       </service>

       <provider
           android:name="com.superlist.super_native_extensions.DataProvider"
           android:authorities="com.adilhanney.saber.SuperClipboardDataProvider"
           android:exported="true"
           android:grantUriPermissions="true" >
       </provider>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1312561055261176~3317824400"/>
        <!-- Delay app measurement until MobileAds.initialize() is called. -->
        <meta-data
            android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"
            android:value="true"/>
    </application>
</manifest>
