[Desktop Entry]
Version=1.0
Type=Application

Name=Saber
Comment=A cross-platform libre handwritten notes app.
Comment[cs]=Volně dostupná multiplatformní aplikace pro ručně psané poznámky
Categories=Office;WordProcessor;

Icon=com.adilhanney.saber
Exec=saber
Terminal=false
StartupWMClass=saber
