[Desktop Entry]
Version=1.0
Type=Application

Name=Saber
Comment=A cross-platform libre handwritten notes app.
Categories=Office;WordProcessor;

Icon=${SNAP}/meta/gui/saber.png
Exec=saber
Terminal=false
StartupWMClass=saber
