name: Build for Linux

on:
  # Enable manual run
  workflow_dispatch:
  push:
    tags:
      - '**'

env:
  project-id: com.adilhanney.saber

jobs:
  build-flutter-app:
    name: Build Flutter app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Remove unneeded files
        run: |
          rm -rf android
          rm -rf assets_raw
          rm -rf installers
          rm -rf integration_test
          rm -rf ios
          rm -rf macos
          rm -rf metadata
          rm -rf test
          rm -rf web
          rm -rf windows

      - name: Install Flutter dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libx11-dev pkg-config cmake ninja-build libblkid-dev libsecret-1-dev libjsoncpp-dev

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Build Flutter linux version
        run: |
          flutter config --enable-linux-desktop
          flutter pub get
          flutter build linux --release

      - name: Compress Flutter build
        run: tar -C build/linux/x64/release/bundle -cvf Saber-Linux-Portable.tar.gz .

      - name: Upload app archive for next steps
        uses: actions/upload-artifact@v3
        with:
          name: Saber-Archive
          path: Saber-Linux-Portable.tar.gz

  build-flatpak:
    name: Build flatpak
    needs: build-flutter-app
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:freedesktop-22.08
      options: --privileged
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Remove unneeded files
        run: |
          rm -rf android
          rm -rf assets_raw
          rm -rf installers
          rm -rf integration_test
          rm -rf ios
          rm -rf macos
          rm -rf metadata
          rm -rf test
          rm -rf web
          rm -rf windows

      - name: Download app archive
        uses: actions/download-artifact@v3
        with:
          name: Saber-Archive

      - name: Build .flatpak
        uses: bilelmoussaoui/flatpak-github-actions/flatpak-builder@v4
        with:
          bundle: Saber.flatpak
          manifest-path: flatpak/com.adilhanney.saber.json

      - name: Upload .flatpak artifact
        uses: actions/upload-artifact@v3
        with:
          name: Flatpak artifact
          path: Saber.flatpak

  build-appimage:
    name: Build AppImage
    needs: build-flutter-app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Remove unneeded files
        run: |
          rm -rf android
          rm -rf assets_raw
          rm -rf installers
          rm -rf integration_test
          rm -rf ios
          rm -rf macos
          rm -rf metadata
          rm -rf test
          rm -rf web
          rm -rf windows

      - name: Install AppImage dependencies
        run: |
          sudo add-apt-repository universe
          sudo apt install libfuse2

      - name: Download app archive
        uses: actions/download-artifact@v3
        with:
          name: Saber-Archive # Saber-Linux-Portable.tar.gz

      - name: Download appimage-builder
        working-directory: appimage
        run: |
          wget -O appimage-builder-x86_64.AppImage https://github.com/AppImageCrafters/appimage-builder/releases/download/v1.1.0/appimage-builder-1.1.0-x86_64.AppImage
          chmod +x appimage-builder-x86_64.AppImage

      - name: Prepare build files
        working-directory: appimage
        run: |
          echo 1. Extracting app archive
          mkdir AppDir
          tar -xvf ../Saber-Linux-Portable.tar.gz -C AppDir
          echo 2. Copying icons
          install -Dm644 ../assets/icon/resized/icon-16x16.png AppDir/usr/share/icons/hicolor/16x16/apps/com.adilhanney.saber.png
          install -Dm644 ../assets/icon/resized/icon-24x24.png AppDir/usr/share/icons/hicolor/24x24/apps/com.adilhanney.saber.png
          install -Dm644 ../assets/icon/resized/icon-32x32.png AppDir/usr/share/icons/hicolor/32x32/apps/com.adilhanney.saber.png
          install -Dm644 ../assets/icon/resized/icon-48x48.png AppDir/usr/share/icons/hicolor/48x48/apps/com.adilhanney.saber.png
          install -Dm644 ../assets/icon/resized/icon-64x64.png AppDir/usr/share/icons/hicolor/64x64/apps/com.adilhanney.saber.png
          install -Dm644 ../assets/icon/resized/icon-128x128.png AppDir/usr/share/icons/hicolor/128x128/apps/com.adilhanney.saber.png
          install -Dm644 ../assets/icon/resized/icon-256x256.png AppDir/usr/share/icons/hicolor/256x256/apps/com.adilhanney.saber.png
          install -Dm644 ../assets/icon/resized/icon-512x512.png AppDir/usr/share/icons/hicolor/512x512/apps/com.adilhanney.saber.png
          echo 3. Copying metadata
          install -Dm644 ../flatpak/com.adilhanney.saber.metainfo.xml AppDir/usr/share/metainfo/com.adilhanney.saber.metainfo.xml

      - name: Build AppImage
        working-directory: appimage
        run: |
          ./appimage-builder-x86_64.AppImage --skip-test

      - name: Upload AppImage artifact
        uses: actions/upload-artifact@v3
        with:
          name: AppImage artifact
          path: appimage/Saber-*-x86_64.AppImage*
