name: Build for Linux

on:
  # Enable manual run
  workflow_dispatch:
  push:
    tags:
      - '**'
    branches:
      - '**'
    paths:
      - .github/workflows/linux.yml
      - appimage/AppImageBuilder.yml

jobs:
  build-linux:
    strategy:
      fail-fast: false
      matrix:
        arch:
          - runs-on: ubuntu-latest
            cache-name: saber
            target-platform: linux-x64
            flutter-output-folder: build/linux/x64/release/bundle
            archive-suffix: x86_64
          - runs-on: ubuntu-24.04-arm
            cache-name: saberarm64
            target-platform: linux-arm64
            flutter-output-folder: build/linux/arm64/release/bundle
            archive-suffix: arm64
    runs-on: ${{ matrix.arch.runs-on }}
    permissions:
      contents: write
    timeout-minutes: 20
    name: Build Linux (${{ matrix.arch.target-platform }})
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: "./.github/shared_workflows/install_apt_dependencies"

      - name: Setup cache
        uses: actions/cache@v4
        with:
          path: |
            .dart_tool/
            build/
            .flutter-plugins
            .flutter-plugins-dependencies
            pubspec.lock
          key: ${{ runner.OS }}-${{ matrix.arch.cache-name }}-${{ hashFiles('**/pubspec.lock') }}-${{ hashFiles('**/*.dart') }}
          restore-keys: |
            ${{ runner.OS }}-${{ matrix.arch.cache-name }}-

      - name: Remove proprietary dependencies
        run: ./patches/remove_proprietary_dependencies.sh

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          # Workaround for https://github.com/subosito/flutter-action/issues/345, needs to be removed when fixed
          channel: master
          flutter-version: 3.29.1
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:'

      - name: Disable Flutter CLI animations
        run: flutter config --no-cli-animations

      - run: flutter pub get

      - name: Build Linux (${{ matrix.arch.target-platform }})
        run: |
          flutter build linux \
            --target-platform ${{ matrix.arch.target-platform }} \
            --dart-define=DIRTY=${{ !startsWith(github.ref, 'refs/tags/') }}

      - name: Compress Flutter build
        id: compress
        run: |
          buildName=$(grep -oP "(?<=buildName = ').*(?=')" lib/data/version.dart)
          archiveName="Saber_v${buildName}_Linux_${{ matrix.arch.archive-suffix }}.tar.gz"
          echo "archiveName=$archiveName" >> $GITHUB_OUTPUT

          mkdir -p AppDir
          mv ${{ matrix.arch.flutter-output-folder }}/* AppDir
          chmod +x AppDir/saber

          install -Dm644 flatpak/com.adilhanney.saber.metainfo.xml -t AppDir/share/metainfo/
          install -Dm644 flatpak/com.adilhanney.saber.metainfo.xml -t AppDir/usr/share/metainfo/

          install -Dm644 assets/icon/icon.svg AppDir/share/icons/hicolor/scalable/apps/com.adilhanney.saber.svg
          install -Dm644 assets/icon/icon.svg AppDir/usr/share/icons/hicolor/scalable/apps/com.adilhanney.saber.svg

          install -Dm644 flatpak/com.adilhanney.saber.desktop -t AppDir/share/applications/

          tar -C AppDir -cvf $archiveName .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Saber-Archive-${{ matrix.arch.archive-suffix }}
          path: ${{ steps.compress.outputs.archiveName }}

      - name: Upload to GitHub release
        uses: svenstaro/upload-release-action@v2
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ steps.compress.outputs.archiveName }}

  build-appimage:
    name: Build AppImage
    needs: build-linux
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install AppImage dependencies
        run: |
          sudo add-apt-repository universe
          sudo apt install libfuse2

      - name: Download app archive
        uses: actions/download-artifact@v4
        with:
          name: Saber-Archive-x86_64

      - name: Rename app archive
        run: |
          mv Saber_*.tar.gz Saber-Linux-Portable.tar.gz

      - name: Download appimage-builder
        working-directory: appimage
        run: |
          wget -O appimage-builder-x86_64.AppImage https://github.com/AppImageCrafters/appimage-builder/releases/download/v1.1.0/appimage-builder-1.1.0-x86_64.AppImage
          chmod +x appimage-builder-x86_64.AppImage

      - name: Prepare build files
        working-directory: appimage
        run: |
          mkdir AppDir
          tar -xvf ../Saber-Linux-Portable.tar.gz -C AppDir

      - name: Set AppImage version
        working-directory: appimage
        run: |
          # replace line with "version: latest" with "version: $buildName"
          buildName=$(grep -oP "(?<=buildName = ').*(?=')" ../lib/data/version.dart)
          sed -i "s/version: latest/version: ${buildName}/" AppImageBuilder.yml

      - name: Build AppImage
        working-directory: appimage
        run: |
          ./appimage-builder-x86_64.AppImage --skip-test

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: AppImage artifact
          path: appimage/Saber-*-x86_64.AppImage*

      - name: Upload to GitHub release
        uses: svenstaro/upload-release-action@v2
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: appimage/Saber-*-x86_64.AppImage*
          file_glob: true
