name: Run tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

env:
  # MAINTENANCE_CHECKS_ENABLED is overridden later
  MAINTENANCE_CHECKS_ENABLED: true

jobs:
  run-tests:
    name: Run Flutter tests
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Remove unneeded files
        run: |
          rm -rf assets_raw
          rm -rf submodules

      - name: Install apt dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libgtk-3-dev libx11-dev pkg-config cmake ninja-build libblkid-dev libsecret-1-dev libjsoncpp-dev ghostscript
          version: 1.0
          execute_install_scripts: true

      - name: Setup cache
        uses: actions/cache@v3
        with:
          path: |
            build
          key: ${{ runner.OS }}-saber-${{ hashFiles('**/pubspec.lock') }}-${{ hashFiles('**/*.dart') }}
          restore-keys: |
            ${{ runner.OS }}-saber-

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:'

      - run: flutter pub get

      - name: Prepare environment for tests
        run: |
          if [ "$GITHUB_REPOSITORY" = "saber-notes/saber" ] && [ "$GITHUB_REF_NAME" = "main" ]; then
            MAINTENANCE_CHECKS_ENABLED=true
          else
            MAINTENANCE_CHECKS_ENABLED=false
          fi
          echo "MAINTENANCE_CHECKS_ENABLED=$MAINTENANCE_CHECKS_ENABLED" >> $GITHUB_ENV

      - name: Run tests
        id: tests
        run: |
          flutter test \
            --coverage \
            --dart-define=maintenanceChecksEnabled="${{ env.MAINTENANCE_CHECKS_ENABLED }}"

      - name: Upload to Codecov
        if: success()
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/lcov.info

      - name: Ensure test failures directory exists
        if: failure()
        run: mkdir -p test/failures

      - name: Upload test failures
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: Saber-test-failures
          path: test/failures
