name: Update saber_landing page

on:
  # Enable manual run
  workflow_dispatch:
  push:
    tags:
      - "**"
    branches:
      - "**"
    paths:
      - .github/workflows/update-landing-page.yml

jobs:
  dispatch:
    runs-on: ubuntu-slim
    if: ${{ github.repository == 'saber-notes/saber' }}
    timeout-minutes: 5
    environment:
      # This environment delays this job to allow all artifacts to be built
      name: update-landing-page
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.SABER_LANDING_TOKEN }}
          repository: saber-notes/saber_landing
          event-type: saber-release
