name: Build for Windows

on:
  # Enable manual run
  workflow_dispatch:
  push:
    tags:
      - '**'

env:
  project-id: com.adilhanney.saber

jobs:
  build-windows:
    name: Build for Windows
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Remove unneeded files
        run: |
          Remove-Item -Recurse android
          Remove-Item -Recurse appimage
          Remove-Item -Recurse assets_raw
          Remove-Item -Recurse flatpak
          Remove-Item -Recurse integration_test
          Remove-Item -Recurse ios
          Remove-Item -Recurse linux
          Remove-Item -Recurse macos
          Remove-Item -Recurse metadata
          Remove-Item -Recurse snap
          Remove-Item -Recurse submodules
          Remove-Item -Recurse test
          Remove-Item -Recurse web

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install Inno Setup
        run: choco install innosetup

      - run: flutter pub get

      - name: Build Windows
        run: flutter build apk

      - name: Build Windows Installer
        run: |
          ISCC.exe installers/desktop_inno_script.iss

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: Saber-Windows
          path: installers/SaberInstaller.exe

      - name: Upload to GitHub release
        uses: svenstaro/upload-release-action@v2
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: installers/SaberInstaller.exe
